ul{
                
    color: rgb(255, 234, 127);
}
body{
    background-color: rgb(122, 217, 233);
    color: blue;
}
#rubrik{
    color: rgb(255, 81, 0);
}
.reditme{
    color: red;
}
#text{
    color: black;
}